/*font-family: 'Libre Baskerville', serif;
font-family: 'Fira Sans', sans-serif; font-family: 'Sansita', sans-serif;*/
html{
	background-color: #FF7952;
}
h1{
	color: #FFDA89;
}
h2{
	color: #FFDA89;
}
h3{
	color: #FFDA89;
}
li{
	color: #FFDA89;
}